@media (max-aspect-ratio: 7/10) {
	body {
		display: flex;
		flex-direction: column;
	}

	.content {
		height: calc(100dvh - (50px + 40dvh));
	}

	.queue {
		width: 100dvw;
		height: 40dvh;

		padding: 24px;
		background: #181818;
		border-top: 1px solid rgba(255, 255, 255, 0.06);

		overflow-x: hidden;
		overflow-y: scroll;
	}

	.player {
		flex-direction: row;
	}

	.track-art-container {
		width: 15dvh;
		height: 15dvh;
		padding-right: 10px;
	}
}
